thead, th{
  display: none;
}

img[src$='#center'] figcaption
{
    display: block;
    margin: 2rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft'] figcaption
{
    float:left;
    margin: 2rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright'] figcaption
{
    float:right;
    margin: 2rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}
